@model Demo.WebClient.DbModels.InventoryItemDetails

@{
    ViewData["Title"] = "CheckIn";
}

<h1>CheckIn</h1>

<h4>InventoryItemDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CheckIn">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.Hidden("id", Model.Id)
            @Html.Hidden("version", Model.Version)
            @Html.TextBox("number")
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

